<div class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="intro">
          <h2>Contact Us</h2>
          <p>We would like to get to know you and your business in order to create solutions that you'll love.
            <br/>
            <br/>Call: +1 (268) 764-8480
            <br/>Email:
            <a href="mailto:CyberHawkSolutions@gmail.com">CyberHawkSolutions@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="d-none d-md-block iphone-mockup">
          <img class="device" src="assets/img/iphone.svg" />
          <div class="screen"></div>
        </div>
      </div>
    </div>
  </div>
</div>