<div class="features-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center section-heading" id="services">Cyber Hawk is an IT company, digital agency and engineering hub.</h2>
      <p class="text-center">We believe that you should feel confident that you're getting professional level IT services.</p>
    </div>
    <div class="row features">
      <div class="col-sm-6 col-lg-4 item">
        <i class="far fa-window-maximize icon"></i>
        <h3 class="name">Website Development</h3>
        <p class="description">Whether your business model is the next Uber, want an online store or just want something attractive for clients
          to visit. Our specialty is creating a feature filled online brand presense. </p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-user-secret icon"></i>
        <h3 class="name">Cyber Security</h3>
        <p class="description">In a world where technology is every changing, you want to be sure that your system's integrity, availabily and confidentiality
          is never at risk. </p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-toolbox icon"></i>
        <h3 class="name">Computer Repairs</h3>
        <p class="description">Is your computer, printer or other machine experiencing hardware or software problems? Our specialists are here.
        </p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-image icon"></i>
        <h3 class="name">Graphic Designing</h3>
        <p class="description">Graphic helps to set the tone for how we look at a businesses and attracts us to what they have to offer. From logo
          design, Company Branding to photography and video editing - just let us know.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-sitemap icon"></i>
        <h3 class="name">Networking</h3>
        <p class="description">From home to office we will offer all your networking needs.</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-mobile-alt icon"></i>
        <h3 class="name">Mobile Development</h3>
        <p class="description">Reach your market in the place where they're most avialable and make your key services more readily available. Keep
          your brand on top by offering a Mobile App.</p>
      </div>
    </div>
  </div>
</div>