<div class="header-blue">
  <div id="particles-js"></div>
  {% include nav.html %}

  <div class="container hero">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
        <h1>The Cyber Hawk revolution is here.</h1>
        <p>Local experts from every field of IT came together.
          <br/>The purpose - to help businesses grow and build things people use.</p>
        <a href="#services">
          <button class="btn btn-light btn-lg action-button" type="button">Our Services</button>
        </a>
      </div>
      <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
        <div class="iphone-mockup">
          <img class="device" src="assets/img/iphone.svg" />
          <div class="screen"></div>
        </div>
      </div>
    </div>
  </div>
</div>