<div>
  <nav class="navbar navbar-dark navbar-expand-md navigation-clean-button" style="background-color:#013644;">
    <div class="container">
      <img src="assets/img/Cyber Hawk Logo.png" alt="Cyber Hawk Logo" width="75" height="75" href="/index" />
      <a class="navbar-brand" href="/" style="color:#ffffff;">Cyber Hawk</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="/app-estimate" style="color:#dddddd;">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text actions">
          <a class="login" href="login" style="color:#dddddd;">Log In</a>
          <a class="btn btn-light action-button" role="button" href="signup" style="background-color:#018ca7;">Sign Up</a>
        </span>
      </div>
    </div>
  </nav>
</div>
<div id="particles-js"></div>
<div class="parallax-header">
  <div class="d-flex justify-content-center" data-bs-parallax-bg="true" style="height:165px;background-image:url(https://unsplash.it/1800/900?image=1051);background-position:center;background-size:cover;">
    <h1 class="align-self-center text-center text-light"> {{ page.title }} </h1>
  </div>
</div>